@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body {
    background: var(--text-color);
    color: var(--bg-color);

}

section {
    padding: 4.5rem 0 1.5rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transform: 0.5s;
    background: var(--text-color);

}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;

}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;

}

img {}

h1 {

    font-size: 3.125rem;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 100%;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(hompage.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.srarch-bar {

    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;



}

.search-bar input {
    height: 48px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    appearance: none;
    border: 1px solid #8c8c8c;
    line-height: normal;
}

#searchBt {
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    padding: 0.7rem 1.4rem;
}

#searchBt:hover {
    background: #fa1216;
    ;
}

#moviesShow {
    display: inline;

}